.Emargements {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 139px);
    width: 67,76rem;  /*1084px width*/
    background-color: #FFFFFF;
    position: fixed;
    top: 144px;
    gap: 27px;
    text-align: center;
    margin-right: 2px;
    padding: 0 42px;/* espace intérieur */
    overflow-y: auto;   /* Activation de la barre de défilement verticale si le contenu dépasse */
  }
  
  .co {
    flex: 1;
    width: 345px;
    height: 100vh;
    margin-top: 22px;
    margin-left: 2px;
    border-radius: 22px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
    top: 142px;
    overflow-y: auto;   /* Activation de la barre de défilement verticale si le contenu dépasse */
    @media (max-width: 783px) {
      display: none;
    }
}

.groupesRes{
  display: none;
}
@media screen and (max-width: 783px) {
  .groupesRes {
    display: block;
    position: fixed;
    top: 6.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem; /* Espace interne pour le contenu */
    overflow-y: auto;
  }
    /* le contenu de la colonne groupesRes */
    .groupesRes .content {
      background-color: #FFFFFF;
      padding: 2rem;
      max-width: 40rem;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 4px 4px 20px #00000012;   
  }
    /* css pour le titre */
    .groupesRes .h3 {
      font-size: 18px;
      font-weight: bold;
      color: #000000;
      text-align: center;
      margin-bottom: 1.5rem;
    }
    /* css pour les jours de la semaine */
  .groupesRes .days-of-week {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    align-items: center;
    margin-bottom: 1rem;
  }

  .groupesRes .day-of-week {
    flex: 1;
    text-align: center;
    color: #5f5f5f;
    font-weight: bold;
    font-size: 16px;
  }
    /* css pour les jours du mois */
    .groupesRes .days-of-month {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
    }
  
    .groupesRes .day {
      color: #000000;
      font-weight: lighter;
      font-size: 0.75em;
      padding: 8px 4px;
      border-radius: 2rem;
      text-align: center;
    }
    .groupesRes .day.saturday {
      background-image: url("../../assets/V.svg");
      background-repeat: no-repeat;
      background-position: center;
      color: #FFFFFF;
      border: none;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }
  
    .groupesRes .day.monday {
      background-image: url("../../assets/Pink.svg");
      background-repeat: no-repeat;
      background-position: center;
      color: #FFFFFF;
      border: none;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }
  
}

.groupes {
  flex: 1;
  width: 702px;
  border-radius: 22px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
  top: 142px;
  right: 1.86rem;
  overflow-y: auto;
}
.agenda {
  flex: 1;
  flex-direction: column; /* Pour aligner verticalement le contenu */
  align-items: center; /* Centrer horizontalement */
  justify-content: center; /* Centrer verticalement */
  width: 568px; /* largeur */
  height: 632px; /* hauteur */
  border: 0px none;
  margin-left: 4rem;
  margin-right: 4rem;
  overflow-y: auto;
}

.h {
  background-image: url("../../assets/ractangle\ orange.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 12px;
  border-radius: 0 0 30px 30px;
  height: 54.88px;
  width: 368.55px;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h h3 {
  /* Styles pour le h3 à l'intérieur de .column-head */
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
  text-align: center;
}
.month-year {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.month-year  h3{
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 24px;
  margin-right: 20px;
}
.month-year img {
  width: 26.8px;
  height: 26.8px;
}
.days-of-week{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
  align-items: center;
}
.day-of-week {
  flex: 1;
  text-align: center;
  color: #5f5f5f;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  width: 12px;
}
.days-of-month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
.days-of-month .day {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 1.1rem;
  padding: 8px 4px; /* l'espace intérieur */
  border-radius: 20px; /* Rendre le bouton rond */
  text-align: center;
}

.day.saturday {
  background-image: url("../../assets/V.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
 }

.day.monday {
  background-image: url("../../assets/Pink.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}