
  /* Affiche l'élément .groupes sous .co lorsque la largeur d'écran est inférieure à 783px */
  .groupes {
    display: block;
    width: 100%; /* Largeur de 100% pour occuper toute la largeur de l'écran */
    margin-left: 0; /* Réinitialiser la marge gauche */
  }

.column-head {
  /* Définition de l'image d'arrière-plan et son comportement */
  background-image: url("../../assets/ractangle\ orange.svg");
  /* L'image ne se répète pas */
  background-repeat: no-repeat;
   /* L'image couvre complètement l'arrière-plan */
  background-size: cover;
  /* Positionnement de l'image au centre en haut de l'élément */
  background-position: center top;
  /* taille de la police */
  font-size: 12px;
  /* hauteur */
  height: 54.88px;
  /* largeur */
  width: 369px;
  /* Utilisation de flexbox pour aligner les éléments en ligne*/
  display: flex;
  /* disposition en colonne */
  flex-direction: column;
  margin-bottom: 10px;
  /* Alignement horizontal au centre des éléments enfants */
  align-items: center;
  /* Alignement vertical au centre des éléments enfants */
  justify-content: center; 
}
.column-header {
  background-image: url("../../assets/ractangle\ orange.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 12px;
  height: 30px;
  width: 269px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;
  color: #FFFFFF;
  text-align: center;
}

.card {
  background-color: #FFFFFF;
  margin: auto;
  margin-bottom: 16px;
  width: 299.5px;
  height: 72px;
  border-radius: 16px;
  box-shadow: 4px 4px 20px #00000012;
  cursor: pointer;
}

.card h3 {
  color: #000000;
  font-size: 14px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  margin-top: 6px;
  padding-left: 20px;
  padding-top: 15px;
}

.card .day {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  padding-left: 1.3rem;
  padding-top: 4px;
  padding-bottom: 16px;
}

.card .session {
  color: #898989;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  font-size: 12px;
  font-style: italic;
  padding-right: 20px;
}

.card.clicked {
  background-color: #FD9340;
}

.card.clicked h3,
.card.clicked .day,
.card.clicked .session {
  color: #FFFFFF;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.agenda-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.agenda-section i {
  margin-right: 10px;
}

.agenda-section span {
  margin-right: 10px;
}

.agenda-section input {
  margin-right: 10px;
}

.std {
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 4px 4px 20px #00000012;
  height: 60px;
  width: 332px;
  margin-bottom: 1rem;
  margin-left: 15.5px;
  margin-right: 16.5px;
  cursor: pointer;
}

.std + .std {
  margin-left: 4px; /* spacing value */
  margin-bottom: 10px;
}


.std h3 {
  color: #000000;
  font-size: 14px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-left: 24px;
  margin-top: 0.5rem;
}

.std span {
  color: #000000; /* Couleur du texte pour le span */
  font-family: "Poppins", Helvetica;
  font-size: 12px; /* Taille de police pour le span */
  margin-left: 1.6rem;

}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.butt-container {
  display: flex;
  position: fixed;
  margin-top: 35rem;
  margin-left: 15rem;
  background-color: #FFFFFF; /* Définissez la couleur d'arrière-plan souhaitée */
  z-index: 100; /* Assurez-vous que les boutons sont au-dessus du contenu */
}
.fem-butt {
  background-color: #19CE1526;
  color: #19CE15;
  border: none;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  height: 42px;
  width: 291px;
  border-radius: 50px;
  padding: 8px 16px;
  margin-right: 1.25rem;
}

.an-butt {
  background-color: #FF252526;
  color: #FF2525;
  height: 42px;
  width: 122px;
  border: none;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px 16px;
  margin-right: 1rem;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.student-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-buttons button {
  background-color: #FF252526;
  border-radius: 30px; /* le rayon de bordure pour obtenir la forme souhaitée */
  padding: 4px 8px; /* les valeurs de padding pour réduire l'espace intérieur du bouton */
  margin-right: 8px;
  font-weight: bold;
  border: none;
  height: 35px;
  width:35px;
  color: #FF2525;
  text-align: center;
  font-size: 16px; /* la taille de la police pour diminuer la taille du texte */
  font-weight: bold;
  margin-top: 10px;
}
.ap-b.active,
.ai-b.active {
  background-color: #FF2525;
  color: #fff;
}

/* Pour les cartes avec AP actif */
.std.ap-active {
background-color: #FF252526;
color: #000000; /* Couleur du texte */
}

/* Pour les cartes avec AI actif */
.std.ai-active {
background-color: #FF252526;
color: #000000; /* Couleur du texte */
}

.std.active {
background-color: #FF252526;
}
.card.clicked {
  background-color: #FD9340;
}

.card.clicked h3,
.card.clicked .day,
.card.clicked .session {
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .groupes .std {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .Emargements {
    display: flex;
    flex-direction: column; /* Disposition en colonne pour les tablettes et ordinateurs portables */
    padding: 0 2.77%; /* Une marge intérieure plus petite */
    gap: 2.77%; /* Réduire l'espace entre les colonnes */
    overflow-y: auto; /* Activation de la barre de défilement verticale si le contenu dépasse */

  }

  .Emargements .co {
    display: block;
    width: 30rem; /* la largeur*/
    margin-top: 1rem; /* Réinitialiser la marge supérieure */
    margin-left: 0; /* Réinitialiser la marge gauche */
    max-height: 22rem;
    overflow-y: auto;
  }
  .co .card{
    width: 26rem;
  }
  .co .card h3{
    margin-right: 9.4rem;
  }

  /* .groupes sous .co lorsque la largeur d'écran est inférieure à 783px */
  .Emargements .groupes {
    display: block;
    position: relative;
    background-color: #FFFFFF;
    max-height: 24rem;
    margin-top: 15rem;
    width: 30rem; /* Largeur de 100% pour occuper toute la largeur de l'écran */
    margin-left: auto; /* Réinitialiser la marge gauche */
  }
  .groupes .card-container{
    display: block;
    flex-direction: column;

  }

  .card-container .std {
    margin: auto; /* Centrer horizontalement */
    margin-bottom: 1rem; /* marge inférieure */
    width: 26rem; /* largeur */
    height: 4.5rem; /* hauteur */
  }


}