.Emargements {
  display: flex;
  height: calc(100% - 139px);
  min-width: 290px;
  background-color: #FFFFFF;
  position: fixed;
  top: 142px;
  right: 0;
  gap: 26px;
  margin-right: 2px;
  padding: 0 42px;
}

.co {
  flex: 1;
  width: 365px;
  height: 100vh;
  margin-top: 22px;
  margin-left: 2px;
  border-radius: 22px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 142px;
  left: 360px;
}

.groupes {
  flex: 1;
  width: 702px;
  height: 100vh;
  margin-top: 22px;
  margin-left: 2px;
  border-radius: 22px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 142px;
  right: 60px;
}

.column-header {
  background-image: url("../../assets/ractangle\ orange.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 12px;
  height: 30px;
  width: 269px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;
  color: #FFFFFF;
  text-align: center;
}

.column-head {
  background-image: url("../../assets/ractangle\ orange.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 12px;
  border-radius: 0 0 30px 30px;
  height: 54.88px;
  width: 369px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-head h3 {
  /* Styles pour le h3 à l'intérieur de .column-head */
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  margin: 12px;
  margin-bottom: 0;
  text-align: center;
}

.column-head p.day {
  color: #FFFFFF;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  margin: 10px;
  margin-top: 0; 
  text-align: center;
  
}

.card {
  background-color: #FFFFFF;
  margin: auto;
  margin-bottom: 16px;
  width: 315px;
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.card h3 {
  color: #000000;
  font-size: 14px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  margin-top: 6px;
  padding-left: 20px;
  padding-top: 15px;
}

.card .day {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 16px;
}

.card .session {
  color: #898989;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  font-size: 12px;
  font-style: italic;
  padding-right: 20px;
}

.card.clicked {
  background-color: #FD9340;
}

.card.clicked h3,
.card.clicked .day,
.card.clicked .session {
  color: #FFFFFF;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.agenda-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.agenda-section i {
  margin-right: 10px;
}

.agenda-section span {
  margin-right: 10px;
}

.agenda-section input {
  margin-right: 10px;
}

.std {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  height: 70px;
  width: 100px;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}

.std h3 {
  color: #000000;
  font-size: 14px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-left: 24px;
  margin-top: 12px;
}

.std span {
  color: #000000; /* Couleur du texte pour le span */
  font-size: 10px; /* Taille de police pour le span */
  margin-left: 24px; /* Marge à droite pour le span */
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 210px;
}
.fem-button {
  background-color: #19CE1526;
  color: #19CE15;
  border: none;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  height: 42px;
  width: 291px;
  border-radius: 50px;
  padding: 8px 16px;
  margin-right: 8px;
}

.an-button {
  background-color: #FF252526;
  color: #FF2525;
  height: 42px;
  width: 122px;
  border: none;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px 16px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.confirmation-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.confirmation-content {
  text-align: center;
}

.icon-container {
  font-size: 40px;
  color: #19CE15;
  margin-bottom: 20px;
}

.confirmation-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.confirmation-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.annuler-button {
  background-color: #FF252526;
  color: #FF2525;
  height: 42px;
  width: 100px;
  border: none;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px 16px;
  margin-right: 8px;
}

.valider-button {
  background-color: #19CE1526;
  color: #19CE15;
  border: none;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  height: 42px;
  width: 100px;
  border-radius: 50px;
  padding: 8px 16px;
  margin-left: 8px;
}

.student-buttons {
  display: flex;
}

.student-buttons button {
  background-color: #FF252526;
  border-radius: 30px; /* le rayon de bordure pour obtenir la forme souhaitée */
  padding: 4px 8px; /* les valeurs de padding pour réduire l'espace intérieur du bouton */
  margin-right: 8px;
  border: none;
  height: 35px;
  width:35px;
  color: #FF2525;
  font-size: 16px; /* la taille de la police pour diminuer la taille du texte */
  font-weight: bold;
  margin-top: 10px;
}
.ap-button.active {
display: inline-block;
color: #FFFFFF;
background-color: #FF2525;
}

.ai-button.active {
color: #FFFFFF;
background-color: #FF2525;
}

.std.active {
background-color: #FF252526;
}


.groupes .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.groupes .std {
  width: calc(50% - 16px); /* Ajustez la largeur des cartes en fonction de vos préférences */
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .groupes .std {
    width: 100%;
  }
}
