.Emargements {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 139px);
  min-width: 290px;
  background-color: #FFFFFF;
  position: fixed;
  top: 144px;
  right: 0;
  gap: 26px;
  margin-right: 3px;
  padding: 0 27px; /* espace intérieur */
}
.groups {
  flex: 1;
  width: 1080px;
  border-radius: 22px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
  top: 142px;
  right: 1.86rem;
  margin-right: -1.2rem;
}

.column-head {
  background-image: url("../../assets/ractangle\ orange.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 12px;
  border-radius: 0 0 30px 30px;
  height: 54.88px;
  width: 368.55px;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-head h3 {
  /* Styles pour le h3 à l'intérieur de .column-head */
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  margin: 12px;
  margin-bottom: 0;
  text-align: center;
}

.column-head p.day {
  color: #FFFFFF;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  margin: 10px;
  margin-top: 0; 
  text-align: center;
  
}

.groups .card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button-container {
    display: flex;
    position: fixed;
    margin-top: 36rem;
    margin-left: 38rem;
    background-color: #FFFFFF; /* Définissez la couleur d'arrière-plan souhaitée */
    z-index: 100; /* Assurez-vous que les boutons sont au-dessus du contenu */

}
.fem-button {
  background-color: #19CE1526;
  color: #19CE15;
  border: none;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  height: 42px;
  width: 291px;
  border-radius: 50px;
  padding: 8px 16px;
  margin-right: 1.25rem;
}

.an-button {
  background-color: #FF252526;
  color: #FF2525;
  height: 42px;
  width: 122px;
  border: none;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px 16px;
  margin-right: 1rem;
}
.list-container{
  display: block;
  align-items: center;
  overflow-y: auto;
  margin-bottom: 0;
}

.confirmation-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.confirmation-content {
  text-align: center;
}

.icon-container {
  font-size: 40px;
  color: #19CE15;
  margin-bottom: 20px;
}

.confirmation-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.confirmation-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.annuler-button {
  background-color: #FF252526;
  color: #FF2525;
  height: 42px;
  width: 100px;
  border: none;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px 16px;
  margin-right: 8px;
}

.valider-button {
  background-color: #19CE1526;
  color: #19CE15;
  border: none;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  height: 42px;
  width: 100px;
  border-radius: 50px;
  padding: 8px 16px;
  margin-left: 8px;
}

.student-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-buttons button {
  background-color: #FF252526;
  border-radius: 30px; /* le rayon de bordure pour obtenir la forme souhaitée */
  padding: 4px 8px; /* les valeurs de padding pour réduire l'espace intérieur du bouton */
  margin-right: 8px;
  border: none;
  height: 35px;
  width:35px;
  color: #FF2525;
  text-align: center;
  font-size: 16px; /* la taille de la police pour diminuer la taille du texte */
  font-weight: bold;
  margin-top: 10px;
}
.ap-button.active,
.ai-button.active {
  background-color: #FF2525;
  color: #fff;
}

/* Pour les cartes avec AP actif */
.std .ap-active {
background-color: #FF252526;
color: #000000; /* Couleur du texte */
}

/* Pour les cartes avec AI actif */
.std.ai-active {
background-color: #FF252526;
color: #000000; /* Couleur du texte */
}

.std.active {
background-color: #FF252526;
}  
  .confirmation-card {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 21rem;
  height: 15rem;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  
  .confirmation-content {
  text-align: center;
  margin-top: -2rem;
  }
  .confirmation-content h3 {
  color: #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  }
  
  .icon-container {
  font-size: 40px;
  color: #19CE15;
  }
  
  .confirmation-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  }
  
  .confirmation-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  
  .annuler-button {
  background-color: #FF252526;
  color: #FF2525;
  height: 42px;
  width: 100px;
  border: none;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px 16px;
  margin-left: 1rem;
  }
  
  .valider-button {
  background-color: #19CE1526;
  color: #19CE15;
  border: none;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  height: 42px;
  width: 100px;
  border-radius: 50px;
  padding: 8px 16px;
  margin-left: 8px;
  }

  .mdl {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 2.6rem;
    padding: 2rem;
    height: 22rem;
    width: 26rem;
    box-shadow: 4px 4px 20px #00000012;
    z-index: 10000;
    display: flex;
    flex-direction: column;
  }
  .mdl 
  .recap-row {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 0.1rem;
  }
  
  .mdl 
  .recap-row h3 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .mdl
  .recap-row img {
    margin-left: 0.9rem;
    margin-right: -0.10rem; /* Utilisation d'une marge négative pour réduire l'espace */
  }
  .bloc-pop{
    display: block;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 4px 4px 20px #00000012;
    width: 386px;
    height: 86px;
    margin-left: -1rem;
    margin-top: 1rem;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 4px 4px 20px #00000012;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 2.6rem;
    padding: 2rem;
    box-shadow: 4px 4px 20px #00000012;
    z-index: 10000;
    display: flex;
    flex-direction: column;
  }
  .modal h2 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 600;
  }
  
  .modal-content {
    text-align: center;
  }
  .date-card {
    background-color: #ffffff;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 20px #00000012;
    height: 3.25rem;
    width: 24.6rem;
    cursor: pointer;
    }
    .date-card h3 {
      font-family: "Poppins", Helvetica;
      font-weight: bold;
      margin-left: 1rem;
      margin-right: 16rem;
      margin-top: -0.1rem;
    }


  .modal 
  .recap-row {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 0.1rem;
  }
  
  .modal 
  .recap-row h3 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .modal
  .recap-row img {
    margin-left: 0.9rem;
    margin-right: -0.8rem; /* Utilisation d'une marge négative pour réduire l'espace */
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .colon {
    flex-basis: 25%;
    padding: 0 0.1rem;
    text-align: center;
  }
  
  .colon h3 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 600;
    font-size: 1rem;
    margin-right: 1.2rem;
  }
  
  p.des {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-weight: lighter;
    font-size: 12px;
    font-weight: 300;
  }
  .date-inputs {
    display: flex;
    align-items: center;
    margin-right: 4rem; /* Ajuster la valeur de la marge droite */
    margin-bottom: 1rem;
    margin-left: -0.8rem;
  }
  
  .date-inputs input {
    text-align: center;
    font-family: "Poppins", Helvetica;
    border-radius: 3rem;
    border: 0.1rem solid #e5e4e3;
    height: 2.3rem;
    width: 8.7rem; /* la largeur des inputs */
    margin-left: 0.4rem; /* l'espace entre les inputs */
  }
  
  .date-inputs img {
    margin-left: 0.4rem; /* l'espace entre input et l'image */
  }
  .buttons-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .ap {
    background-color: #FFA82526;
    color: #FFA825;
    font-size: 12px;
    text-align: center;
    height: 2.34rem;
    width: 11rem;
    border: none;
    font-family: "Poppins", Helvetica;
    font-weight: bold;
    border-radius: 3.125em;
    padding: 8px 16px;
    margin-top: 4rem;

    
  }
  
  .an {
    background-color: #FF252526;
    color: #FF2525;
    font-size: 12px;
    text-align: center;
    height: 2.34rem;
    width: 6rem;
    border: none;
    font-family: "Poppins", Helvetica;
    font-weight: bold;
    border-radius: 3.125em;
    padding: 8px 16px;
    margin-top: 4rem;

  }

@media (max-width: 768px) {
  .groupes .std {
    width: 100%;
  }
}