/* Cacher l'élément avec la classe .Details par défaut */
.Details {
    display: none;
  }
  
  /* la largeur de l'écran est inférieure à 783 pixels */
  @media only screen and (max-width: 783px) {
    .Details {
      /* Afficher l'élément comme un bloc (occupe toute la largeur disponible) */
        display: block;
        /* la largeur à 90% de l'espace disponible */
        width: 90%;
        /* Centrer horizontalement l'élément en le plaçant au milieu */
        margin: 0 auto;
        /* Fixer la position de l'élément */
        position: fixed;
        /* Aligner le contenu de l'élément au centre verticalement */
        align-items: center;
        /* Positionner l'élément à 20 unités de l'extrémité inférieure de la fenêtre */
        bottom: 20rem;
        /* la position horizontale souhaitée */
        left: 5%; 
        /* Valeur en fonction de la position horizontale souhaitée */
        right: 5%; 
        /* Couleur d'arrière-plan facultative pour le contraste */
        background-color: #fff; 
        /* Activation de la barre de défilement verticale si le contenu dépasse */
        overflow-y: auto; 
        /* Activation de la barre de défilement horizontale si le contenu dépasse */
        overflow-x: auto; 

      }

      /* Css pour l'élément .agenda-row */
      .agenda-row {
        /* Utilisation de flexbox pour disposer les éléments en ligne */
        display: inline-flex;
        /* Aligner les éléments verticalement au centre */
        align-items: center;
        /* Marge supérieure de 0.1rem pour un espacement au-dessus */
        margin-top: 0.1rem;
      }
      
      .agenda-row h3 {
        /* Ajouter de l'espace entre l'image et le titre */
        margin-right: 8rem; 
        /* Couleur du texte en noir */
        color: #000000;
        font-family: "Poppins", Helvetica;
        /* Taille de police de 14 pixels */
        font-size: 14px;
        /* Marge en bas de 1 rem */
        margin-bottom: 1rem;
      }
      
      .agenda-row img {
        /* Ajuster la valeur de la marge gauche */
        margin-left: 0.1rem;
      }

      /* Css pour l'élément .date-inputs */
      .date-inputs {
        /* Afficher les éléments en ligne */
        display: flex;
        /* Aligner verticalement les éléments */
        align-items: center;
        /* Ajuster la valeur de la marge droite */
        margin-right: 4rem; 
        /* Marge en bas de 1 rem */
        margin-bottom: 1rem;
        /* Réglage de la marge à droite */
        margin-right: 1.9rem;
        @media screen and (min-width: 360px) {
          /* Ajuster de la marge à gauche à 0.2 rem pour les écrans d'une largeur minimale de 360 pixels */
          margin-left: 0.2rem;
        }
      }
      
      /* Css pour les éléments input à l'intérieur de .date-inputs */
      .date-inputs input {
        /* Centrer le texte à l'intérieur de l'input */
        text-align: center;
        font-family: "Poppins", Helvetica;
        /* Arrondir les coins de l'input pour créer un effet de bord arrondi */
        border-radius: 3rem;
        /* Ajouter une bordure fine autour de l'input */
        border: 0.1rem solid #e5e4e3;
        /* Définir la hauteur de l'input */
        height: 2.3rem;
        /* la largeur des inputs */
        width: 8.7rem; 
        /* l'espace entre les inputs */
        margin-left: 0.4rem; 
      }
      
      /* Applique une marge à gauche de 0.4rem entre l'élément input et l'image à l'intérieur de la classe .date-inputs */
      .date-inputs img {
        /* l'espace entre input et l'image */
        margin-left: 0.4rem; 
        /* Utilise une règle media query pour appliquer des styles spécifiques lorsque la largeur d'écran est supérieure ou égale à 360 pixels */
        @media screen and (min-width: 360px) {
          /* Réduire la marge à gauche à 0.1rem entre l'élément input et l'image */
          margin-left: 0.1rem;
        }
      }
        
        /* Définir les styles pour la classe .c */
        .c {
          /* Ajouter de l'espace en bas de l'élément */
          margin-bottom: 1rem;
          /* Définir la largeur maximale de l'élément */
          max-width: 20rem;
          /* Arrondir les coins de l'élément*/
          border-radius: 16px;
          /*La hauteur*/
          height: 8%;
          /* Ajoute une ombre autour de l'élément pour un effet de profondeur */
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        }
        
        /* Aligner les éléments en ligne horizontalement */
        .row {
          /* Utilisons Flexbox pour afficher les éléments en ligne */
          display: flex;
          /* Aligner verticalement les éléments au centre de la ligne */
          align-items: center;
          /* Aligner verticalement les éléments au centre de la ligne */
          justify-content: space-between;
        }
        
        /* Css pour les éléments h3 à l'intérieur de l'élément avec la classe .c */
        .c h3 {
          /* Définition de la taille de la police */
          font-size: 14px;
          /* Marge ajoutée à droite du texte de l'élément h3 */
          margin-right: 5px;
        }
        
        .status-f {
          /* Couleur du texte */
            color: #4CAF50;
            /* Affichage en ligne */
            display: inline-block;
            /* Taille de la police */
            font-size: 12px;
            /* Poids de la police */
            font-weight: bold;
            /* Transformation du texte en majuscules */
            text-transform: uppercase;
          }
          
          .status-n {
            /* Couleur du texte */
            color: #FF2525;
            /* Affichage en ligne */
            display: inline-block;
            /* Taille de la police */
            font-size: 12px;
            /* Poids de la police */
            font-weight: bold;
            /* Transformation du texte en majuscules */
            text-transform: uppercase;
          }
        };