  .agenda-info {
    display: flex;
    align-items: center; 
    margin-top: 18px; 
  }
  
  .agenda-info span {
    margin-right: 522px; 
    color: #000000; 
    font-family: "Poppins", Helvetica; 
    font-size: 0.875rem;
    font-weight: 600; 
  }
  
  .agenda-info img {
    margin-left: 45px; 
  }
  .d-inputs{
      display: flex; 
      flex-direction: row;
      margin-top: 10px;
  
  }
  .d-inputs input {
    text-align: center;
    font-family: "Poppins", Helvetica; 
    border-radius: 30px; 
    border: 1px solid #e5e4e3; 
    height: 2.25rem;
    margin: 2px 2px 8px 46px; 
    width: 12.5rem; 
    margin-top: 10px; 
  }
  .d-inputs input + input {
    margin-left: 2rem; 
  }
  
  .d-inputs img {
    width: 1.875rem; 
    height: 1.875rem; 
    margin-left: 20px;
    margin-top: 12px;
  }
  
  
  .c {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 4px 4px 20px #00000012; 
    width: 35.5rem;
    height: 3.75rem;
    margin: auto; 
    margin-top: 10px; 
    cursor: pointer; 
  }
  
  
  .c h3 {
    color: #000000; 
    font-size: 0.875rem; 
    font-family: "Poppins", Helvetica; 
    font-weight: 600; 
    margin: 8px;
    margin-left: 36px;
    padding: 10px; 
  }
  .status-f {
    color: #4CAF50; 
    font-size: 0.875rem; 
    font-weight: bold; 
    padding: 4px 8px; 
    border-radius: 4px;
    margin: 8px; 
    margin-right: 20px;
    text-transform: uppercase;
  }
  
  .status-n {
    color: #FF2525; 
    font-size: 0.875rem; 
    font-weight: bold; 
    padding: 4px 8px; 
    border-radius: 4px; 
    margin: 8px;
    margin-right: 20px; 
    text-transform: uppercase;
  }