.retour-button {
    position: fixed; /*Position fixe*/
    top: 3.2%; /* Distance du haut de la fenêtre */
    right: 2%; /* Distance de la droite de la fenêtre */
    width: 6rem; /* Largeur */
    padding: 0.5rem 1rem; /* Espacement interne (haut/bas gauche/droite) */
    font-family: "Poppins", Helvetica; /* Police de caractères */
    font-size: 12px; /* taille de la police */
    font-weight: 700; /* Poids de la police */
    background-color: #FF252526; /* couleur de fond */
    color: #FF2525; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
    border: none; /* Pas de bordure */
    border-radius: 3.125rem; /* bordure arrondie*/
    cursor: pointer; /* Curseur en forme de main */
  }
