
.co {
  height: 100vh;
  box-sizing: border-box;
  border-radius: 22px; /* bordure arrondie */
  @media (max-width: 783px) {
    display: none;
  }
}
/* Lorsqu'une carte (.card) est cliquée, changez la couleur de fond en #FD9340 */
.card.clicked {
  background-color: #FD9340;
}

/* Lorsqu'une carte (.card) est cliquée, changez la couleur du texte à blanc */
.card.clicked h3,
.card.clicked .day,
.card.clicked .session {
color: #FFFFFF;
}

.groupesRes{
  display: none; /* Cacher initialement */
}

 /* Css pour l'élément .h */
.h {
    /* Définition de l'image de fond */
  background-image: url("../../assets/ractangle\ orange.svg");
    /* Empêche la répétition de l'image de fond */
  background-repeat: no-repeat;
    /* Redimensionne l'image pour couvrir tout l'élément */
  background-size: cover;
    /* Position de l'image de fond au centre en haut */
  background-position: center top;
    /* Taille de la police pour le texte à l'intérieur */
  font-size: 12px;
    /* Arrondi des coins inférieurs gauche et droit */
  border-radius: 0 0 30px 30px;
    /* Hauteur de l'élément */
  height: 54.88px;
    /* Largeur de l'élément */
  width: 368.55px;
    /* Marge en bas pour l'espace entre cet élément et le suivant */
  margin-top: -1rem;
  margin-bottom: 2rem;
    /* Centrage horizontal automatique dans le parent */
  margin-left: auto;
  margin-right: auto;
    /* Couleur du texte à l'intérieur */
  color: #FFFFFF;
    /* Affichage en mode flex pour aligner les enfants en colonne */
  display: flex;
    /* Orientation des enfants en colonne */
  flex-direction: column;
    /* Centrage vertical des enfants */
  justify-content: center;
  align-items: center;
}

  /* Css pour le h3 à l'intérieur de .column-head */
.h h3 {
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 2rem;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
  text-align: center;
}

.day {
  color: #000000; /* Couleur du texte en noir */
  font-family: "Poppins", Helvetica; /* Police de caractères */
  font-weight: lighter; /* Poids de la police plus léger */
  font-size: 0.75em; /* Taille de la police */
  padding-left: 1.25em; /* Espace intérieur à gauche */
  padding-top: 0.25em; /* Espace intérieur en haut */
  padding-bottom: 1em; /* Espace intérieur en bas */
}

.session {
  color: #898989; /* Couleur du texte en gris */
  font-family: "Poppins", Helvetica; /* Police de caractères */
  font-weight: bold; /* Poids de la police en gras */
  font-size: 0.75em; /* Taille de la police */
  font-style: italic; /* Style de police italique */
  padding-right: 1.25em; /* Espace intérieur à droite */
}
