
/* Cacher l'élément avec la classe .Details par défaut */
.Details {
    display: none;
  }
  
  /* Css pour l'élément .Details lorsque la largeur de l'écran est inférieure à 783px */
  @media only screen and (max-width: 783px) {
    .Details {
        display: block;
        position: absolute;
        width: 90%;
        margin: 0 auto;
        align-items: center;
        top: 6rem;
        left: 5%; /* La position horizontale souhaitée */
        right: 5%; /* La position horizontale souhaitée */
        background-color: #fff; /* Couleur d'arrière-plan facultative pour le contraste */
        overflow-y: auto; /* Activation de la barre de défilement verticale si le contenu dépasse */
      }

      /* Css pour les éléments avec la classe .agenda-row */
      .agenda-row {
        /* Appliquer l'affichage "inline-flex" pour aligner les éléments horizontalement tout en permettant le réglage de la taille de la boîte et l'alignement vertical */
        display: inline-flex;
         /* Centrer les éléments verticalement à l'intérieur du conteneur */
        align-items: center;
         /* marge en haut de 0.1 unité de mesure (ex. rem) pour espacer les éléments par rapport aux éléments précédents */
        margin-top: 0.1rem;
      }
      
      /* Css pour les éléments h3 à l'intérieur de .agenda-row */
      .agenda-row h3 {
        /* Ajouter de l'espace entre l'image et le titre */
        margin-right: 8rem; 
        color: #000000;
        font-family: "Poppins", Helvetica;
        font-size: 14px;
        margin-bottom: 1rem;
      }
      
      /* Css pour les images à l'intérieur de .agenda-row */
      .agenda-row img {
        margin-left: 0.1rem;
      }

      /* Css pour les éléments avec la classe .date-inputs */
      .da-inputs {
        /* Affichage des éléments en ligne dans un conteneur flexible */
        display: flex;
        /* Centrer les éléments verticalement dans le conteneur */
        align-items: center;
        /* Ajuster la valeur de la marge en bas */
        margin-bottom: 1rem;
        /* Média query pour les écrans ayant une largeur minimale de 360px */
        @media screen and (min-width: 360px) {
          margin-left: 0.2rem; /* Ajuster la valeur de la marge gauche pour les écrans larges */
        }
      }
      
      /* Css pour les éléments input à l'intérieur de .date-inputs */
      .da-inputs input {
        text-align: center;
        font-family: "Poppins", Helvetica;
        border-radius: 3rem;
        border: 0.1rem solid #e5e4e3;
        height: 40px;
        width: 150px; /* la largeur des inputs */
        margin-left: 0.4rem; /* l'espace entre les inputs */
      }
      
      /* Css pour les images à l'intérieur de .date-inputs */
      .da-inputs img {
        margin-left: 0.4rem; /* l'espace entre input et l'image */
        @media screen and (min-width: 360px) {
          margin-left: 0.1rem; /* Ajuster la marge gauche pour les écrans larges */
        }
      }

      .c-em{
        display: block;
        align-items: center;
        overflow-y: auto;
        margin-bottom: 0;
      }
      .c-em h2{
        display: inline-flex;
        margin-left: 1.5rem;
        color: #000000;
        font-family: "Poppins", Helvetica;
        font-size: 18px;
        font-weight: 600;
      }

      .cart-cont{
        display: block;
        align-items: center;
        max-height: 18.75rem;
        overflow-y: auto;
      }
        /* Css pour les éléments avec la classe .c */
      .cart {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        width: 22rem;
        height: 3.75rem;
        margin-left: 15.5px;
        margin-right: 16.5px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 1.4rem;
        box-shadow: 4px 4px 20px #00000012;
        cursor: pointer;
        }
        
        /* Css pour les éléments avec la classe .row */
        .ligne {
          /* Utilisation de la disposition flexbox pour aligner les éléments en ligne */
          display: flex;
          /* Centrage vertical des éléments enfants sur l'axe transversal */
          align-items: center;
          /* Espacement uniforme des éléments enfants sur l'axe principal avec espace entre eux */
          justify-content: space-between;
        }
        
        /* Css pour les éléments h3 à l'intérieur de .c */
        .ligne h3 {
          font-size: 14px;
          margin-top: -1.2rem;
        }
        
        /* Css pour les éléments avec la classe .status-f */
        .ligne .status-f {
          text-align: center;
          color: #4CAF50; /* Couleur du texte */
          display: inline-block; /* L'élément est affiché en tant que bloc dans la ligne, conserve le flux du texte */
          font-size: 12px; /* Taille de la police de 12 pixels */
          font-weight: bold; /* Police en gras */
          text-transform: uppercase; /* Transformation du texte en majuscules */
          margin-left: 8rem;
          margin-top: 0.2rem;

          } 
          
          /* Css pour les éléments avec la classe .status-n */
          .ligne .status-n {
            text-align: center;
            color: #FF2525; /* Couleur du texte */
            display: inline-block; /* L'élément est affiché en tant que bloc dans la ligne, conserve le flux du texte */
            font-size: 12px; /* Taille de la police de 12 pixels */
            font-weight: bold; /* Police en gras */
            text-transform: uppercase; /* Transformation du texte en majuscules */
            margin-left: 7rem;
            margin-top: 0.2rem;
          }
        };