.Emargements {
  display: flex; /* Utilisation de Flexbox */
  justify-content: space-between; /* Espacement uniforme entre les éléments enfants */
  height: calc(100% - 139px); /* hauteur */
  min-width: 290px; /* largeur minimale */
  background-color: #FFFFFF; /* couleur de fond */
  position: fixed; /* position fixe*/
  top: 144px; /* Distance depuis le haut du parent */
  right: 0; /* Alignement à droite */
  gap: 26px; /* Espacement horizontal entre les éléments enfants */
  margin-right: 2px; /*marge à droite*/
  padding: 0 27px; /* espace intérieur */
  overflow-y: auto; /* Activation de la barre de défilement verticale si le contenu dépasse */
}


.groupes-res {
  display: none; /* l'élément est masqué (non affiché) */
}
/* la largeur est maximale de 783px */
@media screen and (max-width: 783px) {
  .groupes-res {
    display: flex; /* utilisation du flexbox*/
    flex-direction: column; /* disposition en colonne*/
    align-items: center; 
    margin-right: 0.6rem; /* Marge à droite */
    margin-bottom: 2rem; /* marge en bas */
    overflow-x: auto;
    white-space: nowrap;
  }
  .t h3{
    display: inline-flex;
    margin-right: 11rem;
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 600;
    overflow-x: auto;
  }
  .grp-carte{
    display: block;
    align-items: center;
    overflow-y: auto;
    margin-bottom: 0;
    overflow-x: auto;
  }
  .carte {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 4px 4px 20px #00000012;
    margin: auto;
    margin-bottom: 1rem; /*marge adaptable */
    width: 325px; 
    height: 60px;
  }
  .carte  h3 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 600;
    margin-right: 4rem;
    margin-top: 1rem;
  }
  .carte .carte-day {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-weight: 300;
    font-size: 10px;
    padding-right: 11.5rem;
    padding-top: 0.25rem;
    margin-top: -0.3rem;
  }
}


.co {
  flex: 1; /* Utilise un espace flexible pour l'élément */
  width: 345px;  /* Largeur */
  height: 100vh; /* Hauteur (100% de la hauteur de la vue) */
  margin-top: 22px; /* marge supérieur */
  margin-left: 2px; /* marge à gauche */
  border-radius: 22px; /* bordure arrondie */
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12); /* ombre */
  top: 142px; /* Position verticale par rapport au haut */
  overflow-y: auto; /* Activation de la barre de défilement verticale si le contenu dépasse */

  /* les écrans de largeur maximale de 783px */
  @media (max-width: 783px) {
    /* Masque l'élément lorsque la largeur d'écran est inférieure à 783px */
    display: none;
  }
}

.groupes {
  flex: 1; /* Utilisation de flexbox */
  width: 702px; /* Largeur */
  height: 100vh; /* Hauteur de 100% de la vue du navigateur */
  margin-top: 22px; /* Marge supérieure */
  margin-left: 2px; /* la marge gauche */
  border-radius: 22px; /* Bordure arrondie */
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12); /* Ombre */
  top: 142px; /* Position verticale */
  overflow-y: auto; /* Activation de la barre de défilement verticale si le contenu dépasse */
  @media (max-width: 783px) {
    display: none; /* Masquer l'élément lorsque la largeur de l'écran est inférieure à 783px */
  }
}

.column-header {
  background-image: url("../../assets/ractangle\ orange.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 12px;
  height: 30px;
  width: 269px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;
  color: #FFFFFF;
  text-align: center;
}


.card {
  background-color: #FFFFFF; /* couleur de fond */
  margin: auto; /* centrer horizontalement */
  margin-bottom: 16px; /* marge en bas */
  width: 299.5px; /* largeur */
  height: 72px; /* hauteur */
  border-radius: 20px; /* Bordure arrondie*/
  box-shadow: 4px 4px 20px #00000012; /* Ombre */
  cursor: pointer; /* Curseur se transforme en main */
}

h3 {
  color: #000000; /* Couleur du texte */
  font-size: 14px; /* Taille de police */
  font-family: "Poppins", Helvetica; /* Police de caractères */
  font-weight: 600; /* police en gras (600) */
  margin-top: 6px; /* Marge en haut */
  padding-top: 15px; /* Remplissage en haut */
  margin-right: 2.6rem; /* Marge à droite */
}


/* Lorsqu'une carte (.card) est cliquée, changez la couleur de fond en #FD9340 */
.card.clicked {
  background-color: #FD9340;
}

/* Lorsqu'une carte (.card) est cliquée, changez la couleur du texte à blanc */
.card.clicked h3,
.card.clicked .day,
.card.clicked .session {
color: #FFFFFF;
}

/* Crée une disposition en ligne pour les éléments contenus dans la classe .row */
.row {
  display: flex; /* utilisation du flexbox */
  flex-direction: row; /* Aligne les éléments horizontalement en ligne */
  justify-content: space-between; /* Distribue l'espace horizontal uniformément entre les éléments */
  align-items: center; /* Centre les éléments verticalement dans la ligne */
}
.nom-stu {
  background-color: #FFFFFF; /* couleur du fond */
  margin: auto; /* Centrer horizontalement */
  margin-bottom: 1rem; /* marge inférieure */
  width: 22rem; /* largeur */
  height: 4.5rem; /* hauteur */
  margin-left: 15.5px; /* marge à gauche*/
  margin-right: 16.5px; /* marge à droite */
  border-radius: 1.4rem; /* Bordure arrondie*/
  box-shadow: 4px 4px 20px #00000012; /* ombre */
  cursor: pointer; /* curseur de la souris */
}
.nom-stu + .nom-stu {
  margin-left: 4px; /* Espace entre les éléments */
}
.nom-stu h3 {
  color: #000000; /* couleur du texte */
  font-size: 14px; /* taille de la police */
  font-family: "Poppins", Helvetica; /* Police de caractères */
  font-weight: 600; /* police en gras(600) */
  margin-top: -0.1rem; /* marge supérieure */
  padding-left: 1.25rem; /* marge à gauche */
  padding-top: 0,9375rem; /* espacement supérieur */
  margin-right: 9rem; /* marge à droite */
}

.nom-stu .abs {
  color: #000000; /* couleur du texte */
  font-family: "Poppins", Helvetica; /* Police de caractères */
  font-size: 14px; /* taille de la police */
  padding-left: 1.25rem; /* marge à gauche */
  padding-top: 0.25rem; /* espacement supérieure */
  padding-bottom: 1rem; /* espacement en bas */
  margin-right: 10.5rem; /* marge à droite */
}

.hide {
  /* Propriété "display" définie sur "none", ce qui masque l'élément */
  display: none;
}