.navbar-small {
    display: none; /* Hide the small navbar by default */
  }
  
  /* Style for the title in the small navbar */
  .navbar-small-title {
    color: #ffffff;
    font-weight: bold;
    margin-top: 72px;
    text-align: left;
    

  }
  
  .navbar-small-title h1 {
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #FD9340;
    padding: 0.25em 1.9em; /* Add a margin of 0.5 times the font size inside the border */
    border-radius: 2px 0 50px ;
  }
  
  /* Responsive styles for small screens */
  @media screen and (max-width: 768px) {
    /* Show the small navbar and hide the full-size navbar */
    .navbar {
      display: none;
    }
  
    .navbar-small {
      display: flex;
      justify-content: left;
      align-items: center;
      height: 30px;
      margin-left: 0;
      margin-top: 0;
    }
  }  