.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar {
  height: calc(100% - 139px);
  min-width: 290px;
  background-color: #FFFFFF;
  position: fixed;
  top: 148px;
  left: 0;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  @media (max-width: 768px) {
    transform: translateX(100%);
    width: 70px;
    padding-margin: 20px;
    top: 30px;
    height: calc(100% - 450px); /* Adjust the height as needed */
    right: 0;
    border-radius: 50px 0px 0px 50px ;
    left: auto;
  }
}

.sidebar.active {
  transform: translateX(0%);
}


.sidebar-toggle {
  position: fixed;
  top: 40px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: #000000;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  display: none;
  @media (max-width: 768px) {
    display: block;
  }

}

.sidebar-content {
  margin-top: 82px;
  @media (max-width: 768px) {
    margin-top: 0;
    display: none;
  }
}

.sidebar-title {
  padding: 20px;
  font-size: 1.5rem;
  margin-left: 14px;
  margin-top: 28px;
  font-weight: bold;
  display: block; /* Show the title by default */
}

.sidebar-small-title {
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  display: none; /* Hide the small title by default */
}

@media (max-width: 768px) {
  .sidebar-title {
    display: none; /* Hide the title in mobile view */
  }

  .sidebar-small-title {
    display: block; /* Show the small title in mobile view */
  }
}

.sidebar-menu {
  list-style: none;
  padding: 10px;
}

.sidebar-menu li {
  padding: 10px 30px;
  display: flex;
  padding: 16.5px;
  align-items: center;

}

.sidebar-menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.sidebar-menu li a .image {
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
  margin-right: 8px; /* Adjust the spacing between the image and text as needed */
}
.sidebar-menu li a:hover {
  color: #FD9340;
}

.sidebar-menu li a span {
  margin-left: 10px;
}

.declare-button {
  background-color: #FD9340;
  border-radius: 50px;
  font-family: "Poppins", Helvetica;
  height: 42px;
  width: 194px;
  margin-left: 50px;
  color: #ffffff;
  margin-top: 33.5px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  @media (max-width: 768px) {
    display: none;
  }
  
}
.declare-button:hover {
  background-color: #562a06;
}

.sidebar-button-mobile {
  display: none; /* Caché par défaut */
}

@media (max-width: 768px) {
  .declare-button.desktop {
    display: none;
  }

  .sidebar-button-mobile {
    display: block;
    position: relative;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
    background-color: #000000;
    border-radius: 50px;
    color: #ffffff;
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }
}