.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar {
  background-color: #FFFFFF;
  box-sizing: border-box;
  transition: transform 0.02s ease;
  @media (max-width: 768px) {
    transform: translateX(100%);
    min-width: 336px;
    padding-margin: 20px;
    top: 30px;
    height: calc(100% - 232px);
    right: 0;
    border-radius: 40px 0px 0px 40px ;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
    left: auto;
  }
}
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.dashboard-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.sidebar-toggle {
  position: fixed;
  display: none;
  align-items: center;
  height: 40px;
  width: 40px;
  top: 80px;
  margin-left: 40rem;
  background-color: transparent; /* Rendre le bouton transparent */
  box-shadow: 4px 4px 20px #00000012;
  border: none;
  color: #000000;
  font-size: 24px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 16px;
  z-index: 1;
  @media (max-width: 768px) {
    display: block;
    margin-bottom: 1rem;
    margin-left: 20.7rem; /*-	Déplacer le menu vers la gauche */
  }
  @media (max-width: 360px) {
    margin-left: 300px;
  }

}

.sidebar-content {
  margin-top: 82px;
  @media (max-width: 768px) {
    margin-top: 0;
    display: none;
  }
}

.sidebar-title {
  padding: 20px;
  font-size: 1.5rem;
  margin-left: 14px;
  margin-top: 28px;
  font-weight: bold;
  display: block; /* Show the title by default */
}

.sidebar-small-title {
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  display: none; /* Hide the small title by default */
}


@media (max-width: 768px) {
  .sidebar-title {
    display: none; /* Hide the title in mobile view */
  }

  .sidebar-small-title {
    display: block; /* Show the small title in mobile view */
    font-size: 28px;
    font-weight: bold;
    font-family: "Poppins", Helvetica;
  }

}

.sidebar-menu {
  list-style: none;
  padding: 10px;
}

.sidebar-menu li {
  padding: 10px 30px;
  display: flex;
  padding: 16.5px;
  align-items: center;

}

.sidebar-menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  white-space: nowrap;
  text-overflow: ellipsis;

  @media (max-width: 1000px) {
    font-size: 12px;

  }
  @media (max-width: 768) {
    font-size: 8px;
  }
}

.sidebar-menu li a .image {
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
  margin-right: 8px; /* Adjust the spacing between the image and text as needed */
}
.sidebar-menu li a:hover {
  color: #FD9340;
}

.sidebar-menu li a span {
  margin-left: 10px;
}

.declare-button {
  background-color: #FD9340;
  border-radius: 50px;
  font-family: "Poppins", Helvetica;
  height: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 202px;
  color: #ffffff;
  margin-top: 57px;
  margin-left: 49px;
  margin-right: 49px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  @media (max-width: 768px) {
    display: none;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 20px #00000012;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 2.6rem;
  width: 450px;
  height: 639px;
  padding: 2rem;
  box-shadow: 4px 4px 20px #00000012;
  z-index: 10000;
  display: flex;
  flex-direction: column;
}
.mod-desktop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 2.6rem;
  width: 450px;
  height: 639px;
  padding: 2rem;
  box-shadow: 4px 4px 20px #00000012;
  z-index: 10000;
  display: flex;
  flex-direction: column;
}
.modal h2 {
  text-align: center;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 27px;
  font-weight: 600;
}
.mod-desktop h2 {
  text-align: center;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 27px;
  font-weight: 600;
}


.blok1{
  display: block;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 4px 4px 20px #00000012;
  width: 382px;
  height: 108px;
  margin-top: 1rem;
}

.nom-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.1rem;
}

.nom-row h3 {
  display: inline-flex;
  margin-right: 10rem; /* l'espace entre l'image et le titre */
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  margin-bottom: 1rem;
}
.nom-input {
  display: flex;
  align-items: center;
  margin-right: 1rem; /* Ajuster la valeur de la marge droite */
  margin-bottom: 1rem;      
}

.nom-input input {
  text-align: center;
  font-family: "Poppins", Helvetica;
  border-radius: 3rem;
  border: 0.1rem solid #e5e4e3;
  padding-left: 1.25rem;
  padding-right: 2.3rem;
  height: 2.25rem;
  margin-top: -0.4rem;
  width: 303px; /* la largeur des inputs */
  margin-left: 1rem; /* l'espace entre les inputs */
}

.nom-input img {
  margin-left: 1rem; /* l'espace entre input et l'image */
  margin-top: -0.5rem;

}

.blok2{
  display: block;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 4px 4px 20px #00000012;
  width: 23,875rem; /*382px*/
  height: 17,75rem; /*284px*/
  margin-top: 2rem;
}

.ap-line {
  display: inline-flex;
  align-items: center;
  margin-top: 0.1rem;
  margin-left: 1rem;
  overflow: hidden;
  }
  .ap-line h3 {
  margin-right: 8rem; /* Ajouter de l'espace entre l'image et le titre */
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  margin-bottom: 1rem;
  }

  .gr-cont{
    display: block;
    align-items: center;
    overflow-y: auto;
    max-height: 300px;
    margin-bottom: 1rem;

  }
  .gru-cont{
    display: block;
    align-items: center;
    overflow-y: auto;
    max-height: 230px;
    margin-bottom: 1rem;

  }
  .gr {
    background-color: #FFFFFF;
    margin: auto;
    margin-bottom: 1rem;
    width: 337px; /*marge adaptable */
    height: 60px;
    border-radius: 1.25rem; /*bordure adaptable */
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.07);
  }
  
  .gr h3 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 12px;
    font-weight: 600;
    margin-top: 0.375rem;
    margin-right: 1rem;
  }
  
  .gr .jr {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-weight: 300;
    font-size: 10px;
    padding-left: 1rem;
    padding-top: 0.25em;
    padding-bottom: 1em;
  }

  .pop-up-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  .pop-up-title h2{
    text-align: center;
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: -1rem; /*l'espace en bas du titre h2 */

  }
  
  .pop-up-title .h3 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
  }
  .blok-sc{
    display: block;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 4px 4px 20px #00000012;
    width: 23,875rem; /*382px*/
    height: 25.25rem; /*404px*/
    margin-top: 1rem;
    overflow-y: auto;
  }

  .cldr-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.1rem;
  }
  
  .cldr-row h3 {
    display: inline-flex;
    margin-right: 13rem; /* l'espace entre l'image et le titre */
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .blok-ap{
    display: block;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 4px 4px 20px #00000012;
    width: 23,875rem; /*382px*/
    height: 17,75rem; /*284px*/
    margin-top: 1rem;
    overflow-y: auto;
  }

  .time-inputs {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: -0.2rem;   
  }
  
  .time-inputs input {
    text-align: center;
    font-family: "Poppins", Helvetica;
    border-radius: 3rem;
    border: 0.1rem solid #e5e4e3;
    height: 36px;
    width: 151px; /* la largeur des inputs */
    margin-left: 0.8rem; /* l'espace entre les inputs */
  }
  
  .time-inputs img {
    margin-left: 1rem; /* l'espace entre input et l'image */
  }

  .time-card-cont{
    display: block;
    align-items: center;
    max-height: 250px;
    overflow-y: auto;
  }
  .time-card {
    display: block;
    margin: auto;
    background-color: #ffffff;
    border-radius: 1rem;
    margin-bottom: 0.8rem;
    box-shadow: 4px 4px 20px #00000012;
    height: 52px; /*52px*/
    width: 332px; /*332px*/
    cursor: pointer;
  }
  .time-card.selected {
    background-color: #FF252526;
  }

  .buttons-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .A-button {
    background-color: #FF252526;
    color: #FF2525;
    font-size: 12px;
    text-align: center;
    height: 2.875rem; /*46px*/
    width: 8.5625rem; /*137px*/
    border: none;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    border-radius: 3.125em;
    padding: 8px 16px;
    margin-left: 15.6rem;
    margin-top: 1.4rem;
    }
    .cancel-button {
      background-color: #FF252526;
      color: #FF2525;
      font-size: 12px;
      text-align: center;
      height: 2.875rem; /*46px*/
      width: 8.5625rem; /*137px*/
      border: none;
      font-family: "Poppins", Helvetica;
      font-weight: 700;
      border-radius: 3.125em;
      padding: 8px 16px;
      margin-left: 15.6rem;
      margin-top: 1.4rem;
      }
    .v-button {
      background-color: #19CE1526;
      color: #19CE15;
      font-size: 12px;
      text-align: center;
      height: 46px;
      width: 243px;
      border: none;
      font-family: "Poppins", Helvetica;
      font-weight: 700;
      border-radius: 3.125em;
      padding: 8px 16px;
      margin-right: -15rem; /* Ajoutez cette ligne pour ajuster la marge droite */
      margin-top: 1.4rem;
    }

.sidebar-button-mobile {
  display: none; /* Caché par défaut */
}



@media (max-width: 620px) {
  .declare-button.desktop {
    display: none;
  }

  .sidebar-button-mobile {
    display: block;
    position: relative;
    left: 40%;
    width: 60%;
    transform: translateX(-50%);
    background-color: #000000;
    border-radius: 50px;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
  }

  .sidebar-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    
  }
  
  .sidebar-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: -1;
    pointer-events: none;
  }
  
  .sidebar.active + .sidebar-container::before {
    backdrop-filter: none;
  }
  
  .sidebar.active {
    transform: translateX(0%);
    z-index: 2;
    background-color: #ffffff; /* Couleur de fond de la barre latérale active */
  }
  
  .sidebar-toggle {
    position: fixed;
    top: 40px;
    left: 20px;
    z-index: 200;
  }
  
  @media (max-width: 768px) {
    .sidebar-toggle {
      top: 30px;
      left: 20px;
    }
  } 
}
@media (min-width: 481px) and (max-width: 778px) {
  .declare-button{
    display: none;
  }
}
