
.dashboard {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 139px);
  min-width: 290px;
  background-color: #FFFFFF;
  position: fixed;
  top: 142px;
  right: 0;
  gap: 22px;
  margin-right: 2px;
  padding: 0 42px;/* espace intérieur */
}

.column-Enf {
  flex: 1;
  width: 365px; /* la largeur*/
  height: 100vh;
  margin-top: 22px;
  margin-left: 2px;
  border-radius: 22px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);

  @media (max-width: 783px) {
    display: none;
  }
}

.pink-box {
  display: none;
}

@media screen and (max-width: 783px) {
  .column-Enf {
    display: none;
  }
  .pink-box{
    display: block;
  }

  .pink-box {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    background-color: #FF25254D;
    max-width: 100%; /* la largeur pour remplir l'écran */
    min-height: 11em;
    border-radius: 1.25em;
    position: relative;
    bottom: 1.875em;
    margin-top: 1.4em; /* le contenu vers le bas */
  
  }
  .pink-box h2 {
    color: #000000;
    font-size: 1em; /* la taille du titre */
    margin-top: 1.6em;
  }

  
  .pink-box .entry {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFFFFF;
    margin-top: 1.7rem;
    width: 99%;
    height: 62%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .entry h3 {
    color: #000000;
    font-size: 0.741em;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    margin-top: 0.125em;
    margin-right: 0.2rem; /* % pour la marge right */
  }
  
  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .details .date {
    color: #898989;
    font-family: "Poppins", Helvetica;
    font-size: 0.6em;
    font-style: italic;
    padding-left: 0.125em;
    padding-bottom: 1em;
  }

  .details .count {
    color: #898989;
    font-family: "Poppins", Helvetica;
    font-size: 0.5em;
    font-style: italic;
    padding-right: 3%; /* % pour l'espace intérieur */
    margin-bottom: 0.4375em;
  }
}

.column {
  flex: 1;
  width: 365px;
  height: 100vh;
  margin-top: 22px;
  margin-left: 2px;
  border-radius: 22px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
  @media (max-width: 783px) {
    display: none;
  }
}
.column-r{
  display: none;
}
@media screen and (max-width: 783px) {
  .column-r {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9.375em;
  }
  .date-section {
    position: relative;
    margin-right: 20.7%; /* % pour le margin right */
    bottom: 1.25em;
  }
  .date-section h2 {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Poppins", Helvetica;
    margin-bottom: 1.25em;
    margin-right: 0.8rem;
  }
  
  .dashboard-entry {
    background-color: #FFFFFF;
    width: 100%; /* % pour la largeur */
    height: 5.875em;
    border-radius: 1.4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    position: relative;
    bottom: 1.25em;
  }

  .dashboard-entry .time p {
    font-size: 0.8em;
    margin: 0.25em 0 0.5em 4.7%; /* % pour la marge*/
  }
  
  .dashboard-entry .divider {
    background-color:#FD9340;
    border-radius: 0.625em;
    width: 0.4em;
    height: 60px;
    margin-left: 0.4688em; /* le margin gauche */
    margin-right: 0.3704em; /* le margin droit */
  }

  .dashboard-entry .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.625em;
  }
  
  .dashboard-entry .details p {
    font-size: 0.76rem;
    font-weight: bold;
    margin-bottom: 0.375em;
  }
  
  .dashboard-entry .details .extra-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dashboard-entry .details .extra-info .room {
    color: #FD9340;
    font-family: "Poppins", Helvetica;
    font-size: 0.7em;
    font-style: italic;
    padding-bottom: 0.25em;
  }
  
  .dashboard-entry .details .extra-info .count {
    color: #898989;
    font-size: 0.75em;
    font-style: italic;
    font-weight: lighter;
    padding-left: 2.1em; /*% pour l'espace intérieur gauche */
    padding-top: 0.625em;
  }
  
  
  .ap-button {
    background-color: #FFA82526;
    border-radius: 3.125em;
    font-family: "Poppins", Helvetica;
    height: 3.125em; /*  hauteur adaptable */
    width: 13.75em; /* largeur adaptable */
    margin-left: auto; /* Centre le bouton horizontalement */
    margin-right: auto; /* Centre le bouton horizontalement */
    color: #FFA825;
    margin-top: 3.5em; /* marge adaptable */
    font-size: 1em; /* taille de police adaptable */
    font-weight: bold;
    border: none;
    text-align: center;
    cursor: pointer;
  }
}


.column-header {
  background-image: url("../../assets/ractangle\ orange.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 0.75em; /*taille de police adaptable */
  height: 1.875em; /*hauteur adaptable */
  width: 16.8125; /*largeur adaptable */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.4375em; /*marge adaptable */
  color: #FFFFFF;
  text-align: center;
}

.date {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 1.125em; /*taille de police adaptable */
  font-weight: 600;
  margin-left: 1.75em; /*marge adaptable */
}

.card {
  background-color: #FFFFFF;
  margin: auto;
  margin-bottom: 0.625em; /*marge adaptable*/
  width: 19.6875em; /*marge adaptable */
  border-radius: 1.25em; /*bordure adaptable */
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.07);
}

h3 {
  color: #000000;
  font-size: 0.875em; /*taille de police adaptable */
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  margin-top: 0.375em;
  padding-left: 1.25em;
  padding-top: 0.9375em;
}

.day {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 0.875em;
  padding-left: 1.25em;
  padding-top: 0.25em;
  padding-bottom: 1em;
}

.session {
  color: #898989;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  font-size: 0.75em;
  font-style: italic;
  padding-right: 1.25em;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 783px) {
  .dashboard {
    flex-direction: column;
    margin-top: 0;
    padding: 0 1rem; /* rem pour une marge intérieure plus petite */
  }

  .column {
    flex: 1;
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }
}



@media screen and (max-width: 360px) {
  .dashboard {
    flex-direction: column;
    align-items: center; /* Centrer horizontalement le contenu */
    margin-top: 0;
    padding: 0 3rem;
    gap: 0.5556rem; /*rem pour réduire l'espace entre les colonnes */
  }

  .column {
    width: 100%;
    max-width: 100%;
    align-items: center; /* Centrer horizontalement le contenu */
  }

  .pink-box {
    width: 100%;
  }

  .entry {
    width: 100%;
  }
}