
.group-agenda{
  height: 100vh;
  box-sizing: border-box;
  margin-top: 16px;
  border-radius: 22px; 
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
}

@media (max-width: 783px) {
  .group-agenda{
    display: none;
  }
}

.h {
  background-image: url("../../assets/ractangle\ orange.svg");
  background-size: cover;
  background-position: center top;
  font-size: 0.75rem;
  border-radius: 0 0 30px 30px;
  height: 54.88px;
  width: 368.55px;
  margin-top: -1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h h3 {
  color: #FFFFFF;
  font-size: 1.125rem;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 2rem;
  align-items: center;
  margin-bottom: 1.5rem;
  text-align: center;
}


.month-year {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.month-year  h3{
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 24px;
  margin-right: 20px;
}

.month-year img {
  width: 26.8px;
  height: 26.8px;
}

/* Css pour l'élément .days-of-week */
.days-of-week {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
  align-items: center;
}

.day-of-week {
  flex: 1;
  text-align: center;
  color: #5f5f5f;
  font-family: "Poppins", Helvetica;
  font-size: 1rem;
  font-weight: 700;
}

.days-of-month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.days-of-month .day {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 1.1rem;
  padding: 8px 4px; /* l'espace intérieur */
  border-radius: 20px;
  text-align: center;
}

.day.saturday {
  background-image: url("../../assets/V.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  border: none;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
 }

.day.monday {
  background-image: url("../../assets/Pink.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  border: none;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}