@media screen and (max-width: 783px) {
    .groupesRes {
      /* Afficher si la largeur est inférieure à 783px */
      display: block;
      position: fixed;
      top: 6.5rem; /* Position depuis le haut de la fenêtre */
      left: 0;
      width: 100%; /* Largeur à 100% de la vue */
      height: 100%; /* Hauteur à 100% de la vue */
      padding: 1rem; /* Espace interne pour le contenu */
      overflow-y: auto; /* Activation de la barre de défilement verticale si le contenu dépasse */
    }
      /* le contenu de la colonne groupesRes */
      .groupesRes .content {
        background-color: #FFFFFF;
        padding: 2rem;
        max-width: 40rem;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 4px 4px 20px #00000012;   
    }
      /* css pour le titre */
      .groupesRes .h3 {
        font-size: 18px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        margin-bottom: 1.5rem;
      }
      /* css pour les jours de la semaine */
    .groupesRes .days-of-week {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      align-items: center;
      margin-bottom: 1rem;
    }
  
    .groupesRes .day-of-week {
      flex: 1;
      text-align: center;
      color: #5f5f5f;
      font-weight: bold;
      font-size: 16px;
    }
      /* css pour les jours du mois */
      .groupesRes .days-of-month {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
      }
    
      .groupesRes .day {
        color: #000000;
        font-weight: lighter;
        font-size: 0.75em;
        padding: 8px 4px;
        border-radius: 2rem;
        text-align: center;
      }
      .groupesRes .day.saturday {
        background-image: url("../../assets/V.svg");
        background-repeat: no-repeat;
        background-position: center;
        color: #FFFFFF;
        border: none;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
      }
    
      .groupesRes .day.monday {
        background-image: url("../../assets/Pink.svg");
        background-repeat: no-repeat;
        background-position: center;
        color: #FFFFFF;
        border: none;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
      }
      .grp-carte{
        display: block;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto;
      }
      .carte {
        background-color: #ffffff;
        border-radius: 16px;
        box-shadow: 4px 4px 20px #00000012;
        margin-bottom: 1rem; /*marge adaptable */
        width: 23.3rem;  /*325px*/
        height: 4.2rem; /*60px*/
      }
      .carte.clicked {
        background-color: #FD9340;
      }
      
      /* Lorsqu'une carte (.card) est cliquée, changez la couleur du texte à blanc */
      .carte.clicked h3,
      .carte.clicked .carte-day {
      color: #FFFFFF;
      }
    
  }