@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

/* Style for the safe area */
.safe-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style for the login container */
.login-container {
  max-width: 400px;
  margin: 0 24px;
  padding: 40px;
  border-radius: 10px;
}

/* Style for the title */
.title {
  font-family: "Poppins", Helvetica;
  font-size: 48px;
  font-weight: 700;
  color: #000;
  margin-top: 124px;
  text-align: left;
}

/* Style for the subtitle */
.subtitle {
  font-family: "Poppins", Helvetica;
  color: #898989;
  font-size: 14px;
  margin-bottom: 30px;
  width: 325px;
  word-spacing: 5px;
}

/* Style for the forgot password button */
.forgot-button {
  font-family: "Poppins", Helvetica;
  color: #898989;
  font-size: 14px;
  width: 325px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Style for the input container */
.input-container {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: #b3b1b0;
  margin-bottom: 25px;
  position: relative;
  top: 10px;
  margin-bottom: 14px;
}

.input-container input {
  flex: 1;
  font-size: 16px;
  font-family: "Poppins", Helvetica;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #b3b1b0;
  height: 60px;
  width: 327px;
  padding-left: 24px;
}


/* Style for the login button */
.login-button {
  display: block;
  width: 293px;
  height: 46px;
  padding: 10px;
  border-radius: 80px;
  margin: 30px auto;
  font-family: "Poppins", Helvetica;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 24px;
  background-color: #fd9340;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #e66c00;
}

/* Style for the image container */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 50px;
}

/* Style for the image */
.image {
  object-fit: contain;
  max-height: 100px; /* la valeur selon vos besoins */
  max-width: 118px; /* la valeur selon vos besoins */
  display: block; /* gérer la marge automatique verticale */
  margin-top: auto; /* centrer verticalement */
  margin-bottom: auto; /* centrer verticalement */
}

/* Responsive styles for small screens */
@media screen and (max-width: 360px) {
  .login-container {
    margin: 0 12px;
    padding: 20px;
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 12px;
  }

  .input-field {
    font-size: 14px;
  }

  .login-button {
    font-size: 16px;
    padding: 10px;
  }

  .image-container {
    margin-top: 20px;
  }
}
