  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
/* Réinitialisation des marges, paddings et boite de modèles pour tous les éléments */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Style global pour le corps de la page */
body {
  /* Couleur de fond blanche*/
  background-color: #fff;
  /* Couleur du texte principale */
  color: #000;
  /* Hauteur à 100% */
  height: 100%;
  font-family: "Poppins", Helvetica;
}

/*Style global pour les liens */
a {
  /* Suppression du soulignement des liens */
  text-decoration: none;
  /* Utilisation de la couleur par défaut du texte*/
  color: unset;
}
/* Style pour 'container' principal de l'application */
.container {
  /* Utilisation de la disposition flexible pour controler l'alignement des éléments */
  display: flex;
  /* Masquage du contenu dépassant du conteneur */
  overflow: hidden;
  /* Disposition vertical des éléments */
  flex-direction: column;
  /* Définir une hauteur minimale de 100% de la hauteur de la fenêtre */
  min-height: 100vh;
  /* Permet au 'container' de s'étendre pour remplir l'espace disponible */
  flex-grow: 1;
}

/* Style pour le contenu principal de l'application */
.main-content {
  /* Permet au contenu de remplir l'espace disponible */
  flex: 1;
  /* Marge intérieure de 20 pixels */
  padding: 20px;
  /* Suppression de la marge inférieure */
  margin-bottom: 0;
  /* Activation de la barre de défilement verticale si le contenu dépasse */
  overflow-y: auto;
}

/* Style pour le contenu principal de l'application sur les écrans de largeur supérieure ou égale à 769 pixels */
@media (min-width: 769px) {

  .main-content {
    /* Permet au contenu de s'étendre pour remplir l'espace disponible */
    flex: 1;
    /* Marge intérieure de 20 pixels */
    padding: 20px;
    /* Suppression de la marge inférieure */
    margin-bottom: 0;
  }
}


