

.groupes-res {
  display: none;
}

@media screen and (max-width: 783px) {
  .groupes-res {
    display: block;
    position: fixed;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    top: 6rem;
    left: 5%; 
    right: 5%; 
    background-color: #fff; 
    white-space: nowrap;
  }
  .t h3{
    display: inline-flex;
    margin-left: -13rem;
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 600;
  }
  .group-cards{
    display: block;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .group-card {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 4px 4px 20px #00000012;
    margin-bottom: 1rem; /*marge adaptable */
    width: 23.3rem;  /*325px*/
    height: 4.2rem; /*60px*/
  }
  .group-card  h3 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 600;
    margin-right: 4rem;
    margin-top: 1rem;
  }
  .group-card .group-card-day {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-weight: 300;
    font-size: 10px;
    margin-left: 1rem;
    padding-top: 0.25rem;
    margin-top: -0.3rem;
  }
}