.Emargements {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 139px);
  min-width: 290px;
  background-color: #FFFFFF;
  position: fixed;
  top: 142px;
  right: 0;
  gap: 22px;
  margin-right: 2px;
  padding: 0 42px;
}


.co {
  flex: 1;
  width: 365px;
  height: 100vh;
  margin-top: 22px;
  margin-left: 2px;
  margin-right: 10px; /* Réduire la valeur de la marge droite */
  border-radius: 22px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 142px;
  left: 360px;
}

.groupes {
  flex: 1;
  width: 702px;
  height: 100vh;
  margin-top: 22px;
  margin-left: 2px; /* Réduire la valeur de la marge gauche */
  margin-right: 6px;
  border-radius: 22px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 142px;
  right: 60px;
}

.column-header {
  background-image: url("../../assets/ractangle\ orange.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 12px;
  height: 30px;
  width: 269px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;
  color: #FFFFFF;
  text-align: center;
}
.column-head {
  background-image: url("../../assets/ractangle\ orange.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 12px;
  border-radius: 0 0 30px 30px;
  height: 54.88px;
  width: 369px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-head h3 {
  /* Styles pour le h3 à l'intérieur de .column-head */
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  margin: 12px;
  margin-bottom: 0;
  text-align: center;
}

.column-head p.day {
  color: #FFFFFF;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  margin: 10px;
  margin-top: 0; /* Réduire l'espace entre h3 et p */
  text-align: center;
  
}

.card {
  background-color: #FFFFFF;
  margin: auto;
  margin-bottom: 16px;
  width: 315px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;

}
h3 {
  color: #000000;
  font-size: 14px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  margin-top: 6px;
  padding-left: 20px;
  padding-top: 15px;
}

.day {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 16px;
}

.session {
  color: #898989;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  font-size: 12px;
  font-style: italic;
  padding-right: 20px;
}

/* Styles pour le clic */
.card.clicked {
  background-color: #FD9340;
}

.card.clicked h3,
.card.clicked .day,
.card.clicked .session {
color: #FFFFFF;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.agenda-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.agenda-section span {
  margin-right: 522px;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
}

.agenda-section img {
  margin-left: 45px;
}

.date-inputs{
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}
.date-inputs input {
  text-align: center;
  font-family: "Poppins", Helvetica;
  border-radius: 30px;
  border: 1px solid #e5e4e3;
  height: 38px;
  margin: 2px 2px 8px 46px;
  width: 210px;
  margin-top: 10px;
}



.date-inputs img {
  margin-left: 18px;
  margin-top: 12px;
}


.c {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 60px;
  width: 610px;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}


.c h3 {
  color: #000000;
  font-size: 14px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  margin: 8px;
  margin-left: 36px;
  padding: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.status-f {
  color: #4CAF50;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 8px;
  margin-right: 20px;
  margin-top: 6px;
  text-transform: uppercase;
}

.status-n {
  color: #FF2525;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 8px;
  margin-top: 6px;
  margin-right: 20px;
  text-transform: uppercase;
}
.hide {
  display: none;
}
